/* Print settings: fixed font-size, never hide sections */
@media print {
	@page {
		size: landscape
	}
	
	body {
		font-size: 24pt !important;
	}
	
	section {
		display: block !important;
		page-break-after: always;
	}
	
	section section {
		display: inline !important;
		page-break-after: auto;
	}
}

body {
	margin: 0;
	padding: 0;
	font-size: 5vmin;
}

/* Top-level sections are slides */
section {
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	transition-property: visibility, opacity, left;
	transition-duration: 0.5s;
}

/* Other sections are inline content */
section section {
	position: relative;
	display: inline;
	width: auto;
	height: auto;
}

/* .before and .after are used to hide content */

section.before, section.after {
	display: none;
}

section section.after {
	display: inline;
}