body {
	font-family: Tahoma, sans-serif;
	background-color: #F8F8F4;
	color: #222;
}

a {
	color: #800;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

h1, h2, h3 {
	font-weight: normal;
	margin: 0;
	padding: 0 0 0.5em 0;
}

h1 {
	font-size: 1.5em;
	letter-spacing: 0.1ex;
	text-transform: uppercase;
	padding-top: 30vh;
	color: #B00;
	text-shadow: 0px 0.03em 0.01em rgba(0, 0, 0, 0.9);
}

@media print {
	h1 {
		padding-top: 20%;
	}
}

h2 {
	font-size: 1.5em;
	text-transform: uppercase;
	color: #900;
	text-shadow: 0px 0.03em 0px rgba(0, 0, 0, 0.2);
}

h3 {
	font-size: 1.2em;
	letter-spacing: 0.05ex;
	color: #800;
	text-shadow: 0px 0.03em 0px rgba(0, 0, 0, 0.2);
}

section {
	text-align: center;
	padding: 1em;
}

section section {
	text-align: inherit;
	padding: 0;
}

ul, ol, pre {
	text-align: left;
	margin: auto;
}

code {
	padding: 0.1em 0.2em;
	border: 0.1em solid rgba(0, 0, 0, 0.1);
	border-radius: 0.5em;

	background-color: rgba(255, 255, 255, 0.6);
	color: #000;
	font-size: 0.9em;
}

pre code {
	display: block;
	font-size: 0.6em;
	padding: 0.3em;
	border: 0.2em solid rgba(0, 0, 0, 0.2);
}

section.highlight.before, section.highlight.after {
	display: inline;
}

section.highlight.active {
	background-color: #FF0 !important;
	color: #000 !important;
}

section.highlight.before .highlight-hover, section.highlight.after .highlight-hover {
	display: none;
}

section.highlight.active .highlight-hover {
	display: block;
	position: absolute;
	width: auto;
	white-space: pre;
	z-index: 1000;
	padding: 0.2em 0.5em;
	border: 0.1em solid black;
	border-radius: 0.1em;
	box-shadow: 0em 0.1em 0em 0.2em rgba(0, 0, 0, 0.3);
	background-color: #ADF;
	color: #444;
	font-family: sans-serif;
}

@media print {
	.highlight-hover {
		display: none !important;
	}
}